[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git://github.com/nesi/puppet-git.git
[submodule "puppet/modules/puppet-chrome"]
	path = puppet/modules/puppet-chrome
	url = git@github.com:boxen/puppet-chrome.git
